/*Hentet Roboto font fra Google*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*Fargekoder*/
:root{
    --blue: #2a324b;
    --lightblue: #58699D;
    --gray: #E1E5EE;
    --white: #fff;

}

/*Bakgrunnfarge*/
body {
    background-color: var(--gray);
}

nav {
    text-align:center;
    padding-top: 200px;
}

nav li {
    
    margin: 5px;
    display: flex;
    display: inline;
}

button {
    background-color: var(--blue);
    font-family: Roboto, serif;
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    padding: 20px 40px 20px 40px;
    font-weight: 700;
    border: none;
  
}

button:hover {
    background: var(--white);
    color: var(--blue);

    }

article {
    background-color: var(--white);
    font-family: Roboto, serif;
    padding-top: 4rem;
    margin-left: 286px;
    margin-right: 286px;
    text-align: left;
    padding: 3rem;
}

a {
    color: var(--lightblue);
    display: flex;
    
}
.item {
    color: var(--blue);
}

#topptext {
    font-weight: bold;
 
}
